/*---------MENU SUPERIOR-------------*/
.navbar-social 
{
    width:45px ;
    height:auto;
    align-items: left;
}
/*---------PORTADA-------------*/

.portada {

}
/*---------SOBRE MI-------------*/
.sobremi{
    text-align: center;
    width: fit-content;
}