* {
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif;
}
.tituloseccion {
    font-family:monospace;
    font-size: 25px;
    background-color:rgb(36, 1, 130);}

/*---------MENU SUPERIOR-------------*/
#nav-item li{
    position: right;
}
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;

}
.navbar {
    background-image: linear-gradient(to right, rgb(250, 197, 98), rgb(118, 222, 193));
    padding: 0;

}
.navbar-brand img {
    height: 45px;
    padding-left: 0px;

}
.nav-item img{
    height: 25px;
    

}
.nav-iniciar{
    color: rgb(3, 87, 73);
    font-weight: 25px;
    font-family: monospace;
}
/*---------PORTADA-------------*/
#portada{
    background-color:grey;
}
.miportada {
    background-color: blueviolet;
    margin: 20px 20px 20px 20px;
}
.nombre {
    background-color: rgb(215, 100, 100);
}
.midescripcion {
    background-color:yellow;
    margin: 20px 0px 20px 50px;
    height: 150px;
    width: auto;
}
/*---------EXPERIENCIA-------------*/

#experiencia {
    background-color:greenyellow;
    height: auto;
}
.containerexperiencia {
    background-color:red;
}
.descripcion {
    background-color:yellow;
    margin: 20px 20px 20px 20px;
    height: auto;
}
.imagen01 {
    background-color:rgb(167, 138, 248);
    width: auto;
}